name: Build

on:
  pull_request:
  push:
    branches: [main, develop]

jobs:
  fnote:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt

      - name: Build Tool
        run: cargo build --release

      - name: Run (Help)
        run: ./target/release/mtg

      - name: Run (Card)
        run: ./target/release/mtg card "Avatar Aang"
